
html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: darkred;
}


html {
  background-color: black;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
.transp {
  position: absolute;
    top: 230px;
    left: 20px;
    width: 515px;
    height: 50px;
    background: #000000;
    padding: 5px;
    -moz-opacity:0.5;
    opacity: .5;
    filter:alpha(opacity=50);
    -khtml-opacity: 0.5;
}
#tarja {
  position: absolute;
    top: 230px;
    left: 20px;
    width: 515px;
    height: 50px;
  padding: 5px;
  z-index: 1;
    font-family: Trebuchet MS;
  font-size: 0.8em;
  font-weight: bold;
  color: #ffffff;
}
img {
  border:#000000;
  margin-top:2px;
  margin-bottom:2px;
}
a {
    outline:0;
}